<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
<div id="container">
    <h1>All Blog</h1>
    <a th:href="@{/blogs}">Blogs</a>
    <a th:href="@{/blogs/create}">Create</a>

    <form id="searchBlog">
        <label>
            <input type="text" name="key_search" id="key_search">
        </label>
        <input type="submit" value="Search">
    </form>


    <div>
        <p>Here you can see a list of Blogs:</p>
        <div id="blogFromResponse"></div>
    </div>

    <table border="1px" id="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Content</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody id="tbody">

        <tr th:each="blog :${blogs}">
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.content}"></td>
            <td>
                <a th:href="@{/blogs/edit/{id}(id=${blog.getId()})}">Edit | </a>
                <a th:href="@{/blogs/delete/__${blog.id}__}">Delete</a>
<!--                // chua nhay vao jquery-->
            </td>
        </tr>

        </tbody>
    </table>
    <div>
        <!--    <a th:href="@{'/'(page=${blogs.number - 1},key_search=${key_search})}" th:if="${blogs.hasPrevious()}">Previous</a>-->
        <!--    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>-->
        <!--    <a th:href="@{'/'(page=${blogs.number + 1},key_search=${key_search})}" th:if="${blogs.hasNext()}">Next</a>-->

        <a th:href="@{'/blogs'(page=${blogs.number - 1}, key_search=${key_search})}" th:if="${blogs.hasPrevious()}">Previous</a>
        <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
        <a th:href="@{'/blogs'(page=${blogs.number + 1}, key_search=${key_search})}" th:if="${blogs.hasNext()}">Next</a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        let deletelink = $("a:contains('Delete')");
        $(deletelink).click(function (event) {
            $.ajax({
                url: $(event.target).attributes("href"),
                type: "DELETE",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Accept", "application/json");
                    xhr.setRequestHeader("Content-Type", "application/json");

                },
                success: function (blog) {
                    var respContent = "";
                    var rowToDelete = $(event.target).closest("tr");
                    rowToDelete.remove();
                    respContent += "<span class='success'>Blog was deleted: [";
                    respContent += blog.name + " : ";
                    respContent += blog.content + "]</span>";
                    $("#blogFromResponse").html(respContent);
                }
            });
            event.preventDefault();
        });
    });


    $(document).ready(function () {
        $('#searchBlog').submit(function (event) {
            $('#key_search').val();
            $.ajax({
                url: '/blogs/key-search',
                dataType: 'json',
                data: {key_search: $("#key_search").val()},
                type: "GET",

                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Accept", "application/json");
                    xhr.setRequestHeader("Content-Type", "application/json");
                },
                success: function (data) {
                    var str="";
                    if (data === "fail") {

                        alert('error');

                    } else {

                        $.each(data, function (i) {

                            str += "<tr>";
                            str += "<td>" + data[i].id + "</td>";
                            str += "<td>" + data[i].name + "</td>";
                            str += "<td>" + data[i].content + "</td>";
                            str += "<td><a class='btn btn-success btnView' href='edit.html'>Edit |</a>" +
                               " <a href='/blogs/delete/{id}(id='+data[i].id+')'>Delete</a>" +
                                "</td>";

                            //{id}(id=${blog.getId()})
                            str += "</tr>";

                        });
                        // id của thẻ tbody để hiển thị tất cả cá tr ra
                        $('#tbody').html(str);
                    }
                }
            });
            event.preventDefault();
        });
    });
</script>


</body>
</html>