<!-- header -->
<nav class="navbar">

  <!-- logo -->

  <div class="navbar-brand" >
    <div class="text-center">
      <img src="https://www.hotelgloba.com/img/hotelgloba/logo.png">
    </div>

    <div class="text-center">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <a class="btn btn-gray" [routerLink]="['']">Home CaseRecord</a>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>

<!-- footer -->
<footer class="footer">
  <div class="container text-center">
    <div class="content has-text-centered">
      <p>
        Made with <3 by <a href="https://wwww.facebook.com/letuananh.fan.skt">Tun Anh</a>
      </p>
    </div>
  </div>
</footer>
