<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home/home::head">
</head>
<body>
<div th:replace="/home/home::nav"></div>
<h3>Form Edit Customer</h3>
<form th:action="@{/product/update}" th:object="${product}" method="post">

        <div class="form-group">
            <label>Id:</label>
            <input  class="form-control" type="text" readonly th:field="*{id}">
        </div>
        <div  class="form-group">
            <label>Name:</label>
            <input  class="form-control" type="text" th:field="*{name}">
            <label class="errorField" th:if="${#fields.hasErrors('name')} " th:errors="*{name}">Description Error</label>

        </div>

        <div  class="form-group">
            <label>Price:</label>
            <input  class="form-control" type="text" th:field="*{price}">
            <label class="errorField" th:if="${#fields.hasErrors('price')} " th:errors="*{price}">Description Error</label>
        </div>

        <div class="form-group">
            <label>Product Type :</label>

            <select  class="form-control" th:field="*{productType}" >
                <option  selected disabled th:text="${product.productType.name} " th:value="${product.productType.id}" ></option>
                <th:block th:each="type : ${productTypes}">
                    <option th:value="${type.id}" th:text="${type.name}" >
                    </option>
                </th:block>
            </select>
        </div>



    <button type="submit">Submit</button>
</form>
</body>
</html>