<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="/home/home::head">-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="/home/home::nav"></div>-->
<!--<h3>Form Edit Customer</h3>-->
<!--<form th:action="@{/customer/update}" th:object="${customer}" method="post">-->
<!--    <div >-->
<!--        <div class="form-group">-->
<!--            <label>Id:</label>-->
<!--            <input  class="form-control" type="text" readonly th:field="*{id}">-->
<!--        </div>-->
<!--        <div  class="form-group">-->
<!--            <label>Name:</label>-->
<!--            <input  class="form-control" type="text" th:field="*{name}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Customer Member</label>-->

<!--            <select  class="form-control" th:field="*{customerType}" >-->
<!--                <option  selected disabled th:text="${customer.customerType.name} " th:value="${customer.customerType.id}" ></option>-->
<!--                <th:block th:each="type : ${customerTypes}">-->
<!--                    <option th:value="${type.id}" th:text="${type.name}" >-->
<!--                    </option>-->
<!--                </th:block>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Gender</label>-->
<!--            <select  class="form-control" th:field="*{gender}">-->

<!--                <option  selected disabled th:text="${customer.gender} " th:value="${customer.gender}" ></option>-->
<!--                <option value="1">Male</option>-->
<!--                <option value="0">FeMale</option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div  class="form-group">-->
<!--            <label>Address:</label>-->
<!--            <input class="form-control" type="text" th:field="*{address}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Birth Day:</label>-->
<!--            <input  class="form-control"type="date" th:field="*{birthday}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Email:</label>-->
<!--            <input  class="form-control"type="text" th:field="*{email}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Phone:</label>-->
<!--            <input class="form-control" type="text" th:field="*{phone}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>ID Card:</label>-->
<!--            <input  class="form-control"type="text" th:field="*{id_card}">-->
<!--        </div>-->
<!--    </div>-->

<!--    <button type="submit">Submit</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->