<h3>Create Customer</h3>
<button type="button" class="btn btn-info" [routerLink]="['']">Customers</button>
<form style="background-color: whitesmoke"
      [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)" [routerLink]="">
  <table>
    <tr>
      <th>Name :</th>
      <th>
        <input type="text"  formControlName="name" name="id" >
      </th>
      <th>
        <small *ngIf="createForm.get('name').invalid && createForm.touched" class="text-danger">Name is Required</small>
      </th>
    </tr>

    <tr>
      <th>Date :</th>
      <th>
        <input type="date" formControlName="birthDate" name="birthDate" >
      </th>
      <th>
        <small  *ngIf="createForm.get('birthDate').invalid && createForm.touched" class="text-danger">Date is Required</small>

      </th>
    </tr>

    <tr>
      <th>ID Card :</th>
      <th>
        <input type="text" formControlName="idCard" name="idCard">
      </th>
      <th>
        <small  *ngIf="createForm.get('idCard').invalid && createForm.touched" class="text-danger">ID Card is Required</small>
      </th>
    </tr>

    <tr>
      <th>Phone :</th>
      <th>
        <input type="text" formControlName="phone" name="phone">
      </th>
      <th>
        <small *ngIf="createForm.get('phone').invalid && createForm.touched" class="text-danger">Phone is Required</small>
      </th>
    </tr>

    <tr>
      <th>Email :</th>
      <th>
        <input type="email" formControlName="email" name="email">
      </th>
      <th>
        <small *ngIf="createForm.get('email').invalid && createForm.touched" class="text-danger">Email is Required</small>
      </th>
    </tr>
    <tr>
      <th>Address :</th>
      <th>
        <input type="text" formControlName="address" name="address">
      </th>
      <th>
        <small *ngIf="createForm.get('address').invalid && createForm.touched" class="text-danger">Address is Required</small>
      </th>
    </tr>

    <tr>
      <th>Type Customer : </th>
      <th>
        <label>
          <select  formControlName="typeCustomer">
          <option
             *ngFor="let type of typeCustomers"
            [ngValue]="type"
          >
            {{type.nameTypeCustomer}}
          </option>
        </select>
        </label>
      </th>
      <th>
        <small *ngIf="createForm.get('typeCustomer').invalid && createForm.touched" class="text-danger">Type Customer is Required</small>
      </th>
    </tr>

  </table>

  <button [disabled]="createForm.invalid" type="submit" class="btn btn-dark">Save</button>

</form>

<style>
  select, input{
    border:1px solid aquamarine;
    width: 100%;
  }

  th{
    width: 20%;
  }
</style>
