<h2 class="text-center">Create Customer</h2>
<div class="container" style="background-color: whitesmoke">
<form style="background-color: whitesmoke" class="example-form"
      [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)" >

  <div class="form-group">
    <label>Name :</label>
    <input  placeholder="Name" type="text" formControlName="name" name="id">
    <small *ngIf="createForm.get('name').invalid && createForm.touched" class="text-danger">Name is Required</small>
  </div>

  <div class="form-group">
    <label>Date :</label>
      <input type="date" formControlName="birthDate" name="birthDate">
      <small *ngIf="createForm.get('birthDate').invalid && createForm.touched" class="text-danger">Date is Required</small>
  </div>

  <div class="form-group">
    <label>ID Card :</label>
      <input type="text" formControlName="idCard" name="idCard">
      <small *ngIf="createForm.get('idCard').invalid && createForm.touched" class="text-danger">ID Card is Required</small>
  </div>

  <div class="form-group">
    <label>Phone :</label>
      <input type="text" formControlName="phone" name="phone">
      <mat-error *ngIf="createForm.get('phone').invalid && createForm.touched" class="text-danger">Phone is Required</mat-error>
<!--      <mat-error *ngIf="" class="text-danger">Phone number does not match the format</mat-error>-->
  </div>

  <div class="form-group">
    <label>Email :</label>
      <input type="email" formControlName="email" name="email">
      <small *ngIf="createForm.get('email').invalid && createForm.touched" class="text-danger">Email is Required</small>
  </div>

  <div class="form-group">
    <label>Address :</label>
      <input type="text" formControlName="address" name="address">
      <small *ngIf="createForm.get('address').invalid && createForm.touched" class="text-danger">Address is
        Required</small>
  </div>

  <mat-form-field class="form-group">
    <mat-label>Type Customer:</mat-label>
      <mat-select formControlName="typeCustomer" class="form-control" >
        <mat-option
          *ngFor="let type of typeCustomers"
          [value]="type"
        >
          {{type.nameTypeCustomer}}
        </mat-option>
      </mat-select>
    <br>
    <small *ngIf="createForm.get('typeCustomer').invalid && createForm.touched" class="text-danger">Type Customer is Required</small>
  </mat-form-field>

  <button [disabled]="createForm.invalid" type="submit" class="btn btn-primary">Save</button>

</form>
</div>
<style>
  select, input {
    border: 1px solid snow;
    width: 100%;
  }

  th {
    width: 20%;
  }
</style>
