<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
<div th:replace="/home/home::nav"></div>

<div id="container" style="font-size: 25px; color: black">
    <!--    th:action="@{/furama-employee/addNewEmployee}" method="post"-->
    <form th:object="${employee}" id="editEmployeeForm" method="post" action="/furama-employee/update">
        <header style="text-align: center;">Edit Employee</header>
        <fieldset>
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" th:field="*{name}"/>
            </div>

            <div class="form-group">
                <label for="inputBirthday">Birthday</label>
                <input type="date" class="form-control" id="inputBirthday" th:field="*{birthDay}">

            </div>

            <div class="form-group">
                <label for="inputIdCard">ID Card</label>
                <input type="text" class="form-control" id="inputIdCard" th:field="*{idCard}">
                <th:block>
                    <span th:if="${#fields.hasErrors('idCard')}"
                          th:errors="*{idCard}">Name Error</span>
                </th:block>
            </div>

            <div class="form-group">
                <label for="inputSalary">Salary</label>
                <input type="text" class="form-control" id="inputSalary" th:field="*{salary}">

            </div>

            <div class="form-group">
                <label for="inputPhone">Phone</label>
                <input type="text" class="form-control" id="inputPhone" th:field="*{phone}">
                <th:block>
                    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Name Error</span>
                </th:block>
            </div>


            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                       th:field="*{email}">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
                <th:block>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</span>
                </th:block>
            </div>

            <div class="form-group">
                <label for="inputAdress">Address</label>
                <input type="text" class="form-control" id="inputAdress" th:field="*{address}">

            </div>

            <div class="form-group">
                <label for="inputPosition">Position</label>
                <select id="inputPosition" th:field="*{position}" class="custom-select" required>
                    <option th:each="p:${positions}" th:value="${p.id}" th:text="${p.name}"
                            value=""></option>
                </select>

            </div>


            <div class="form-group">
                <label for="inputEducationDegree">Education Degree</label>
                <select id="inputEducationDegree" th:field="*{educationDegree}" class="custom-select" required>
                    <option th:each="e:${educationDegrees}" th:value="${e.id}"
                            th:text="${e.name}" value=""></option>
                </select>

            </div>


            <div class="form-group">
                <label for="inputDivision">Division</label>
                <select id="inputDivision" th:field="*{division}" class="custom-select" required>
                    <option th:each="d:${divisions}" th:value="${d.id}" th:text="${d.name}"
                            value=""></option>
                </select>

            </div>

            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" th:field="*{user.username}" readonly/>
            </div>
        </fieldset>

        <input type="submit" class="btn btn-primary" value="Update"/>
    </form>
</div>
</body>
</html>