<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <!--    BOOTSTRAP-->


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <!--    <script-->
    <!--            src="https://code.jquery.com/jquery-3.4.1.min.js"-->
    <!--            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="-->
    <!--            crossorigin="anonymous"></script>-->


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>


    <!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>


    <!--    CSS-->
    <link href="/CSS/style.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>

    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
        #list_wrapper{
            font-size: 10px;
        }
        .dataTables_scroll{
            width: 100%;
            font-size: 10px;
        }

    </style>

</head>
<body>


<h1 style="text-align: center">List Employee</h1>
<table id="list">
    <thead>
    <tr >
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Id Card</th>
        <th scope="col">Salary</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Position</th>
        <th scope="col">Education Degree</th>
        <th scope="col">Division</th>
        <th scope="col">Username</th>

        <th scope="col" style="width: 150px">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee:${employees}">
        <td scope="row" th:text="${employee.employee_id}"></td>
        <td scope="row" th:text="${employee.employee_name}"></td>
        <td scope="row" th:text="${employee.employee_birthday}"></td>
        <td scope="row" th:text="${employee.employee_id_card}"></td>
        <td scope="row" th:text="${employee.employee_salary}+'$'"></td>
        <td scope="row" th:text="${employee.employee_phone}"></td>
        <td scope="row" th:text="${employee.employee_email}"></td>
        <td scope="row" th:text="${employee.employee_address}"></td>
        <td scope="row" th:text="${employee.position.position_name}"></td>
        <td scope="row" th:text="${employee.education_degree.education_degree_name}"></td>
        <td scope="row" th:text="${employee.division.division_name}"></td>
        <td scope="row" th:text="${employee.user.username}"></td>

        <td>
            <a class="btn btn-danger" th:href="@{/furama-employee/edit/__${employee.employee_id}__}">Edit </a> |
            <a class="btn btn-primary" th:href="@{/furama-employee/delete/__${employee.employee_id}__}">Delete</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Id Card</th>
        <th scope="col">Salary</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Position</th>
        <th scope="col">Education Degree</th>
        <th scope="col">Division</th>
        <th scope="col">Username</th>
        <th scope="col"></th>
    </tr>
    </tfoot>
</table>


<script type="text/javascript" src="js/script.js"></script>


<script type="text/javascript">
    //data table
    // $(document).ready(function() {
    //     $('#list').DataTable({
    //          // Nội dụng của table sẽ hiện thị với with 400px, Nếu quá thì sẽ có thanh scroll
    //         scrollY: 400,
    //         pageLength: 2,
    //         bLengthChange: false
    //     });
    // });


    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#list tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTable
        var table = $('#list').DataTable({
            scrollY: 400,
            pageLength: 2,
            bLengthChange: false,
            initComplete: function () {
                // Apply the search
                console.log("innit search");
                this.api().columns().every(function () {
                    var that = this;

                    console.log(that);

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }
        });

    });
</script>


<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--        var deleteLink = $("a:contains('Delete')");-->
<!--        $(deleteLink).click(function (event) {-->

<!--            $.ajax({-->
<!--                url: $(event.target).attr("href"),-->
<!--                type: "POST",-->
<!--                beforeSend: function (xhr) {-->
<!--                    xhr.setRequestHeader("Accept", "application/json");-->
<!--                    xhr.setRequestHeader("Content-Type", "application/json");-->

<!--                },-->
<!--                success: function (data) {-->
<!--                    var rowToDelete = $(event.target).closest("tr");-->
<!--                    rowToDelete.remove();-->
<!--                    alert("Đã xoá " + data.employee_name);-->
<!--                },-->
<!--                error: function () {-->
<!--                    alert("Lỗi Hệ Thống !!!");-->
<!--                }-->
<!--            });-->
<!--            event.preventDefault();-->
<!--        });-->
<!--    });-->
<!--</script>-->


</body>
</html>