<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<a href="/">Home</a>
<h1>Form</h1>
<form th:object="${user}" th:action="@{/validateUser}" method="post">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input th:field="*{first_Name}"></td>
            <td th:if="${#fields.hasErrors('first_Name')}" th:errors="*{first_Name}">Name Error</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input th:field="*{last_Name}"></td>
            <td th:if="${#fields.hasErrors('last_Name')}" th:errors="*{last_Name}">Name Error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input th:field="*{age}"></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input th:field="*{email}"></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
        </tr>
        <tr>
            <label> Province :</label></br>
            <label>
                <select th:field="*{province}">
                    <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </label>
            </br>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>