html, body{
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    font-family: sans-serif;
    background: #34495e;
    position: relative;

    background-size: cover;

    background-image: url("/img/pinky.jpg");
}

img{
    max-width: 100%;
}
/**HEADER**/
.navbar-inverse{
    padding: 5px 0;
    text-align: center;
    background-color: black;
    background-image: none;
}
.navbar-nav a:hover{
    text-decoration: none;
    background-color: lightblue;
    color: white;
}


.category{
    background: white;
}
.category_heading{
    font-size: 1.8rem;
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.category_heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list{
    padding: 0 0 6px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item{

}

.category-item-active .category-item-link{
    color: #0f6674;
}

.category-item-active .category-item-link::after{
    position: absolute;
    content: "";
    top: 195px;
    left: 6px;
    transform: translateY(-50%);
    border: 4px solid;
    border-color: transparent transparent transparent mediumspringgreen;

}

.category-item-link{
    text-decoration: none;
    font-size: 1.6rem;
    padding: 4px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item-link:hover{
    right: -4px;
    color: #b1dfbb;
}
