<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<div style="align-content: center">
<h1><span th:text="${product.name}"></span></h1>

    <th:block th:if="${message}!=null">
        <span th:text="${message}"></span>
    </th:block>

<form method="post" action="/add-to-card" th:object="${product}">
<table>
    <tr>
        <th>Name :</th>
        <th th:text="${product.name}"></th>
    </tr>
    <tr>
        <th>Description :</th>
        <th th:text="${product.description}"></th>
    </tr>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th><a href="/">Home |</a> </th>
        <th><input type="submit" value="Add To Cart"></th>
    </tr>
</table>
</form>

</div>
</body>
</html>