<h2>List Customer</h2>
<hr>
<div >
  <a class="btn btn-light" [routerLink]="['/add-Customer']" >Create Article</a>
  <table class="table table-striped table-hover" style="color: blue">
    <tr>
      <th>ID</th>
      <th>Type Customer</th>
      <th>Name </th>
      <th>Date</th>
      <th>ID Card</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let customer of customers">
      <td>{{customer.id}}</td>
      <td>{{customer.typeCustomer.nameTypeCustomer}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.birthDate}}</td>
      <td>{{customer.idCard}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>
        <input type="button" [routerLink]="['/update-Customer/', customer.id]" value="Update"/>
<!--        <input type="button" mat-button (click)="openDialogDelete(customer.id)" value="Delete"/>-->
      </td>
    </tr>

  </table>
</div>
<!--<app-update-article (sendArticle)="updateArticle($event)" ></app-update-article>-->
<hr>

