<span *ngIf="article">
<p>update-article works!</p>
  <input type="button" class="btn btn-info" [routerLink]="['']" value="Article"/>
<form style="background-color: whitesmoke"
  #updateArticle = "ngForm"
        (submit)="onSubmit(updateArticle)"
  >
  <h2> Edit </h2>
  <table class="table table-striped table-hover">

    <tr>
      <td>ID</td>
      <td>{{article.id}}</td>
    </tr>

    <tr>
      <td>Title</td>
      <td><input type="text" value="{{article.title}}" style="width: 100%"></td>
    </tr>

    <tr>
      <td>URL</td>
      <td><input type="text" value="{{article.url}}" style="width: 100%"></td>
    </tr>

    <tr>
      <td>Like</td>
      <td>
        <app-likes></app-likes>
      </td>
    </tr>

  </table>

  <button type="submit" class="btn-dark">Save</button>
</form>
</span>
