<p>update-article works!</p>
<form style="background-color: whitesmoke">
      <!--#updateArticle = "ngForm" -->
<!--      (submit)="onSubmit(updateArticle)"-->
<!--&gt;-->
  <h2> Edit </h2>

  <div>
    <label>id: </label>
    <input [(ngModel)]="article.id" readonly>
  </div>

  <div>
    <label>Title: </label>
    <input [(ngModel)]="article.title">
  </div>

  <div>
    <label>URL: </label>
    <input [(ngModel)]="article.url">
  </div>

  <button type="submit" class="btn-dark">Save</button>
</form>
