<div class="container" style="background-color: whitesmoke">

<span *ngIf="editCustomer">
    <h2 class="text-center">Edit Customer</h2>

<form style="background-color: whitesmoke"
      [formGroup]="updateForm"
      (ngSubmit)="onSubmit(updateForm)">

    <div class="form-group">
      <label>ID :</label>
      <input type="text" formControlName="id" name="id" [value]="editCustomer.id" readonly>
    </div>


 <div class="form-group">
    <label>Name :</label>
    <input  placeholder="Name" type="text" formControlName="name" name="id">
    <small *ngIf="updateForm.get('name').invalid && updateForm.touched" class="text-danger">Name is Invalid</small>
  </div>

  <div class="form-group">
    <label>Date :</label>
      <input type="date" formControlName="birthday" name="birthday">
      <small *ngIf="updateForm.get('birthday').invalid && updateForm.touched" class="text-danger">Date is Invalid</small>
  </div>

  <div class="form-group">
    <label>ID Card :</label>
      <input type="text" formControlName="idCard" name="idCard">
      <small *ngIf="updateForm.get('idCard').invalid && updateForm.touched" class="text-danger">ID Card is Invalid</small>
  </div>

  <div class="form-group">
    <label>Phone :</label>
      <input type="text" formControlName="phone" name="phone">
      <mat-error *ngIf="updateForm.get('phone').invalid && updateForm.touched" class="text-danger">Phone is Invalid</mat-error>
    <!--      <mat-error *ngIf="" class="text-danger">Phone number does not match the format</mat-error>-->
  </div>

  <div class="form-group">
      <label>Gender :</label>
      <div class="form-check">
        <input style="width: 10px" class="form-check-input" type="radio" formControlName="gender" name="gender" [value]="1">
        <label class="form-check-label"> Male</label>
      </div>
      <div class="form-check">

        <input style="width: 10px" class="form-check-input" type="radio" formControlName="gender" name="gender" [value]="0">
        <label class="form-check-label"> Female</label>
      </div>
      <mat-error *ngIf="updateForm.get('gender').invalid && updateForm.touched" class="text-danger">Gender is Invalid
      </mat-error>
    </div>

  <div class="form-group">
    <label>Email :</label>
      <input type="email" formControlName="email" name="email">
      <small *ngIf="updateForm.get('email').invalid && updateForm.touched" class="text-danger">Email is Invalid</small>
  </div>

  <div class="form-group">
    <label>Address :</label>
      <input type="text" formControlName="address" name="address">
      <small *ngIf="updateForm.get('address').invalid && updateForm.touched" class="text-danger">Address is
        Invalid</small>
  </div>

  <mat-form-field class="form-group">
    <mat-label>Type Customer:</mat-label>
      <mat-select formControlName="customerType" class="form-control" >
        <mat-option
          *ngFor="let type of customerTypes"
          [value]="type"
        >
          {{type.name}}
        </mat-option>
      </mat-select>
    <br>
    <small *ngIf="updateForm.get('customerType').invalid && updateForm.touched" class="text-danger">Type Customer is Invalid</small>
  </mat-form-field>
  <br>
  <button [disabled]="updateForm.invalid" type="submit" class="btn btn-dark">Update</button>
</form>
</span>
</div>
<style>
  select, input {
    border: 1px solid aquamarine;
    width: 100%;
  }

  th {
    width: 50%;
  }
</style>
