<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Borrow Book</title>
</head>
<body>
<h1>Information Book</h1>
<a href="/">Back Home</a>

<form th:action="@{/borrow}" method="post" th:object="${book}">
    <label>ID: </label>
    <input type="text" th:field="*{id}" th:value="${book.id}" readonly>
    <br>

    <label>Title: </label>
    <input type="text" th:field="*{title}" th:value="${book.title}" readonly>
    <br>

    <label>Amount: </label>
    <input type="text" th:field="*{amount}" th:value="${book.amount}" readonly>
    <br>

    <label>Remain Amount: </label>
    <input type="text" th:field="*{remainAmount}" th:value="${book.remainAmount}" readonly>
    <br>

    <input type="submit" value="Borrow">
</form>
</body>
</html>